# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variable files
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
